body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 20px;
  right : 10px;
  background: #0be397;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  display: block;
}

.sidenav a:hover {
  color: red;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 18px;}

}