{% extends 'base.html.twig' %}

{% block title %}Blog İcerikleri{% endblock %}
{% block body %}
    <div class = "showContentDiv" >
        {%  if blog is defined %}
        {%  if blog.status == 1 %}

            <br>
                <img src="{{ asset('uploads/afisler/' ~ blog.preview_img) }}" style="width:200px;height:121px;">
<div>

    <h3>{{ blog.content }}</h3> <hr>

</div>
        {% endif %}
        {% endif %}


    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/showBlog.css') }}" rel="stylesheet">
{% endblock %}