<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <!-- Navigation -->
    <nav class="w3-bar w3-black">
        <a href="/" class="w3-button w3-bar-item">Home</a>
        <a href="/blogcontent" class="w3-button w3-bar-item">Show Blog Contents</a>
        <a href="/register" class="w3-button w3-bar-item">Sing Up</a>
        <a href="/login" class="w3-button w3-bar-item">Sign In</a>
        <a href="/logout" class="w3-button w3-bar-item">Sign Out</a>
        <a href="/crud" class="w3-button w3-bar-item">Admin Panel</a>

        <form action="/result" method="GET">
            <input id="search" name="search" type="text" placeholder="Type here">
            <input id="submit" type="submit" value="Search">
        </form>
    </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
